[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
altair = "*"
ipykernel = "*"
vega = "==1.4.0"
notebook = "*"
vega-datasets = "*"
jupyter = "*"
xlrd = "*"
matplotlib = "*"
scipy = "*"

[requires]
python_version = "3.6"
